@page
@model FreshFarmMarket.Pages.LoginModel
@{
    ViewData["title"] = "Login";
}
@using AspNetCore.ReCaptcha
<h3 class="display-6">@ViewData["title"]</h3>


<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">

			<form method="post">

				<div class="mb-3">
					<label class="form-label" asp-for="LModel.EmailAddress">Email Address</label>
					<input type="Text" asp-for="LModel.EmailAddress" class="form-control" />
					<span asp-validaton-for="LModel.Email" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Password">Password</label>
					<input type="Password" asp-for="LModel.Password" class="form-control" />
					<span asp-validaton-for="LModel.Password" class="text-danger"></span>
				</div>

				<div class="mb-3 form-check">
					<input type="checkbox" asp-for="LModel.RememberMe" class="form-check-input" />
					<label class="form-check-label" asp-for="LModel.RememberMe">Remember Me?</label>
				</div>

				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
				@Html.ReCaptcha()
			</form>
		</div>
	</div>
</div>